/* font overrides */
body {
    font-size: 14px;
}
body, p, a {
    font-family: 'Roboto Slab', serif;
}

h1, #side-name{
    font-family: 'Anton', sans-serif;
}

h2,h3 {
  font-family: 'Oswald', sans-serif;
}

/* pure color overrides */

body {
    background-color: #ede6e1;
}
a {
    color: #cc5624;
}

.header h2 {
    color: #333;
}

.content-subhead {
    color: #333;
}

a:hover,
a:focus {
    color: #2d6c80;
}
.date-text, .location-text {
    color: #333;
    font-weight: 400;
}

/* pure side-menu.css menu color overrides */
#menu {
    background:#333;
    color: #ede6e1;
}

#menu a {
    color: #ede6e1;
}

#menu  .pure-menu li a:hover,
#menu .pure-menu li a:focus {
    background: #2d6c80;
}


#menu .pure-menu-heading {
    background: #cc5624;
    color: #fff;
}

/* pure side-menu.css footer overrides */
.footer h2 {
    color: #fff;
}
.footer a {
    color: #fff;
}

.footer .pure-menu li a:hover,
.footer .pure-menu li a:focus {
      background: #2d6c80;
    }


/* pure pure-min.css button overrides */
.button-xsmall {
    font-size: 65%;
    color: #ede6e1;
    border-radius: 2px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

#button1 {
    background: #2d6c80;
}

#button2 {
    background: #2d6c80;
}

/* new outlined box for each project */
.project-box {
    border: 1px solid #cc6633;
    margin: 10px 10px 10px 0px;
    padding: 10px;
    background-color: #f2f2f2;
}

/* colored backgrounds */
.gray-background {
    background-color: #bbb;
    padding-bottom: 4px;
    clear:both;
}

.orange-background {
/*  background-color: #F3F3F3; */
    background-color: #cc6633;
    clear:both;
}


/* layout */
.clearfix {
    overflow: auto;
}

h1 {
    letter-spacing: 0.05em;
}

p {
    padding: 0 0 20px 0;
    margin:0;
}

a {
    text-decoration: none;
    margin-top: 0.125em;
    display: block;
}

/* for small screens center headings*/
@media (max-width: 48em) {
h1,h2,h3 {
  text-align:center;
  }
}

/* change google map behaviour in container*/
#map {
    display: block;
    height: 100%;
}

#mapDiv {
    height: 400px;
    width: 100%;
    padding-bottom: 5%;
}

/* pure-min.css override default max-width*/

.content {
    max-width: 900px;
}
.content-subhead {
    margin: 20px 0 20px 0;
}

.header {
    padding: 2.5em 2em 2em;
    margin: 0 auto;
    max-width: 900px;
}

.footer {
    margin: 0 auto;
    max-width: 900px;
}

.less-margin-below {
  -webkit-margin-before: 0.5em;
    margin-bottom: 0.5em;
}
.cap-height {
    height: 128px;
}

/* pure side-menu.css over-rides */

#menu a {
    padding: 0.4em 0 0.4em 0.4em;
}


#menu .pure-menu-heading {
    text-transform: none;
    font-size: 140%;
    min-height: 36px;
    padding: 1.0em 0.4em 0.4em 0.8em;
}

#menu .pure-menu-list{
    padding-top: 10px;
    padding-left: 10px
}

/* pure side-menu.css footer overrides */
#footContacts {
    padding: 0px;
}

ul#footerContacts {
    -webkit-padding-start: 0px;
    font-size: 1em;
}
